<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Edit Product</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
        </div>
        <!-- Form Edit Product -->
        <div id="editProductModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" action="/products/saveUpdate/{{product.MASACH}}?_method=PUT">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Product</h4>
                            <a href="/products">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Tên Sách</label>
                                <input type="text" class="form-control" value="{{product.TENSACH}}" name="TENSACH" required>
                            </div>
                            <div class="form-group">
                                <label>Tác giả</label>
                                <input type="text" class="form-control" value="{{product.TACGIA}}" name="TACGIA" required>
                            </div>
                            <div class="form-group-3">
                                <label>Giá</label>
                                <input type="number" class="form-control" value="{{product.DONGIA}}" name="DONGIA" required>
                            </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Loại sách</label>
                            </div>
                            <select class="custom-select" name="LOAISACH" id="inputGroupSelect01"="">
                                {{#each Theloai}}
                                    <option value="{{this.MALOAI}}">{{this.TENLOAI}}</option>
                                {{/each}}
                            </select>
                        </div>
                            <div class="form-group mt-1">
                                <label for="des">Thể Loại</label>
                                 <select class="form-control" id="TL"="" name="LOAISACH">
                                   {{#each Theloai}}
                                        <option value="{{this.MALOAI}}">{{this.TENLOAI}}</option>
                                    {{/each}}
                                  </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-info" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Form Edit Product -->
    </div>
</div>

<script>
    var tlEl = document.getElementById("inputGroupSelect01");
    tlEl.value = "{{product.[loaisach.TENLOAI]}}";
</script>