<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Import</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Import detail</h4>
                        <p class="sub-header">
                            from your Import table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-6 text-sm-center form-inline">
                                    

                                    <div class="form-group">
                                        <form action="?title=">
                                            <input id="demo-input-search2" type="text" placeholder="Search by ID"
                                            class="form-control" name="title" value=""autocomplete="off">
                                            <button class="-outline-success my-2 my-sm-0 btn btn-primary" type="submit">
                                                <i class="fa fa-search mr-2"></i>
                                                <span> Tìm kiếm </span>
                                            </button>
                                        </form>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="mb-2 mt-2 d-flex justify-content-between">
                            <div class=" text-sm-center form-inline">
                                        <span class="font-weight-bold">Ngày nhập: &nbsp;</span> 
                                        <span>{{ct_pn.NGAYNHAPSACH}}</span>
                            </div>
                            <div class="mb-2 mt-2">
                                <a href = "/accounts/{{ct_pn.NHANVIENNHAP}}/edit" class="btn-link my-2 my-sm-0 btn btn-primary" >
                                    <i class="fa fa-user mr-2"></i>
                                    <span> Thông tin nhân viên nhập </span>
                                </a>
                            </div>
                        </div>
                        <table id="demo-foo-addrow"
                            class="table table-centered table-striped table-bordered mb-0 toggle-circle"
                            data-page-size="7">
                            <thead>
                                <tr>
                                    <th>Mã sách</th>
                                    <th>Tên sách</th>
                                    <th>Tác giả</th>
                                    <th>Loại sách</th>
                                    <th>Lượng tồn</th>
                                    <th>Số lượng nhập</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each books}}
                                <tr>
                                    <td>{{this.MASACH}}</td>
                                    <td>{{this.[sach.TENSACH]}}</td>
                                    <td>{{this.[sach.TACGIA]}}</td>
                                    <td>{{this.[sach.loaisach.TENLOAI]}}</td>
                                    <td>{{this.[sach.LUONGTON]}}</td>
                                    <td>{{this.SOLUONG}}</td> 
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{!-- Pagination --}}
                        <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
                                        href="?title={{../title}}&&page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- content -->

    </div>
</div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->



